body {
    /* Background */
    margin: 0;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    /* Centered elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: .5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 3rem;

    /* ui */
    background-color: transparent;
    border: 4px solid transparent;
    background-image:
        linear-gradient(to bottom, rgb(201, 158, 234), rgb(225, 191, 248)),
        linear-gradient(to bottom, rgb(225, 191, 248), rgb(201, 158, 234));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Fredoka One', cursive;

    /* click */
    transition:
        background-image 0.5s ease,
        color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.15s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(75, 59, 101, 0.4);
    background-image:
        linear-gradient(to bottom, rgb(225, 191, 248), rgb(201, 158, 234)),
        linear-gradient(to bottom, rgb(201, 158, 234), rgb(225, 191, 248));
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(75, 59, 101, 0.2);
}

/* 
CSS HEX 
--pale-purple: #EEDEF9ff;
--thistle: #E4D1F1ff;
--thistle-2: #DFC9EDff;
--thistle-3: #D1BBE2ff;
--lilac: #CAB1DBff;
*/


