/* 
CSS HEX 
--pale-purple: #EEDEF9ff;
--thistle: #E4D1F1ff;
--thistle-2: #DFC9EDff;
--thistle-3: #D1BBE2ff;
--lilac: #CAB1DBff;

--cherry-blossom-pink: #FDAEB1ff;
--cherry-blossom-pink-2: #EBA9B7ff;
--lilac: #CEA3BEff;
--lilac-2: #B39CC6ff;
--cool-gray: #9F96CBff;
*/

body {
    /* Background */
    margin: 0;
    height: 100vh;
    background-image: url('../img/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    /* Centered elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(242, 189, 252);
    height: auto;
    width: auto;
    border: 2.5px solid #264143;
    border-radius: 1em;
    box-shadow: 3px 4px 0px 1px rgb(140, 81, 188);
}

h1 {
    color: #264143;
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    color: #264143;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
    margin-top: 0
}

button {
    padding: 1em 6em;
    margin: 1em 0;
    font-size: 1em;
    background: #FDAEB1ff;

    border: 2.5px solid #264143;
    border-radius: .5em;

    font-weight: 800;
    box-shadow: 3px 3px 0px 0px rgb(140, 81, 188);
    font-family: 'Roboto Mono', sans-serif;
}

button:hover {
    opacity: .9;
}

/* click button */
button:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px rgb(140, 81, 188);
}

/* loader */
.loader {
    visibility: hidden;
    position: fixed;
    inset: 0;
    opacity: .8;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* When shown by JS, override display:none */
.loader:not([hidden]) {
    display: flex;
}

.wrapper {
    width: 100px;
    height: 30px;
    position: relative;
    z-index: 1;
}

.circle {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

/* Responsive */
/* Phone view */
@media (max-width: 500px) {
    main {
        margin: 1em;
        width: 95%;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 0.8em;
    }

    a{
        color: inherit;
    }

    button {
        font-size: 0.9em;
        padding: 1em 3em;
    }

    .wrapper {
        width: 100px;
        height: 50px;
    }

    .circle,
    .shadow {
        width: 10px;
        height: 10px;
    }

    .shadow {
        top: 42px;
    }
}